<div class="container-fluid">
  <div class="d-flex justify-content-center login">
    <div class="border">
      <%= form_for @user, url: login_path, method: :post do |f| %>
      <div class="field_with_errors form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class:"form-control" %>
      </div>
      <div class="field_with_errors form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class:"form-control" %>
      </div>
        <%= f.submit 'Login', class:"btn btn-primary btn-block"%>
      <% end %>
      <%= button_to "Sign Up", new_user_path, method: :get, class:"btn btn-primary btn-block sign_up" %>
    </div>
  </div>
</div>
