<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
    <h3><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h3>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
    </div>
  <% end %>


  <%= f.label :name %>
  <%= f.text_field :name %>
<br>

  <%= f.label :email %>
  <%= f.email_field :email %>
<br>

  <%= f.label :password %>
  <%= f.password_field :password %>
<br>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
<br>

  <%= f.submit "Sign Up" %>

<% end %>
